<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aalto.comnet.thepreciousproject">

    <!-- Activity tracker subapp permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- All apps permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="ui.precious.comnet.aalto.precious.PRECIOUS_APP"
        android:largeHeap="true">
        <!--Don't you dare to remove again the "largeHeap" line !!!-->
        <activity
            android:name="ui.precious.comnet.aalto.precious.ui_MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="outcomegoal.precious.comnet.aalto.outcomegoal_activity"
            android:label="@string/outcomegoal_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="importance_ruler.precious.comnet.aalto.ImportanceRulerActivity"
            android:label="@string/imporance_ruler_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="activity_tracker.precious.comnet.aalto.MountainViewActivity"
            android:label="@string/imporance_ruler_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <service
            android:name="activity_tracker.precious.comnet.aalto.DetectionRequesterService"
            android:exported="true"/>

        <activity android:name="activity_tracker.precious.comnet.aalto.AddActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="activity_tracker.precious.comnet.aalto.PlanActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name="activity_tracker.precious.comnet.aalto.PromptDeleteInfo"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name="activity_tracker.precious.comnet.aalto.ChooseActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <service android:name="activity_tracker.precious.comnet.aalto.ActivityRecognitionIntentService" />
        <receiver android:name="activity_tracker.precious.comnet.aalto.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                    <category android:name="android.intent.category.HOME">
                    </category>
                </action>
            </intent-filter>
        </receiver>

        <!-- Food diary -->
        <activity android:name="food_diary.precious.comnet.aalto.fd_MainActivity"
            android:label="@string/food_diary_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity android:name="food_diary.precious.comnet.aalto.fd_SelectFood"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <!-- Onboadring-->
        <activity android:name="onboarding.precious.comnet.aalto.obMainActivity"
            android:label="Onboarding"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity android:name="onboarding.precious.comnet.aalto.obSignUp"
            android:label="SignUp"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity android:name="onboarding.precious.comnet.aalto.obSignIn"
            android:label="SignIn"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity android:name="onboarding.precious.comnet.aalto.obTermsAndConditions"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name="onboarding.precious.comnet.aalto.obRequestGroupID"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <!-- Timeline -->
        <activity android:name="ui.precious.comnet.aalto.precious.Timeline"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorPortrait">
        </activity>

        <!--Uploader-->
        <service android:name="uploader.precious.comnet.aalto.SendLog" />

        <!-- Diet Challenges -->
        <activity android:name="diet_challenges.precious.comnet.aalto.fi.dc_MainActivity"
            android:label="@string/dietary_challenge_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <activity android:name="diet_challenges.precious.comnet.aalto.fi.dc_AddChallenge"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme_Dialog" />

        <!-- Identifying PA stage of change -->
        <activity android:name="pa_state_of_change.precious.comnet.aalto.pa_soc_activity"
            android:label="@string/pa_soc_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <!-- Time Machine -->
        <activity android:name="time_machine.precious.comnet.aalto.time_machine_activity"
            android:label="@string/tm_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <!-- My favourite activities -->
        <activity android:name="my_favourites.precious.comnet.aalto.my_favourites_activity"
            android:label="@string/fa_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>

        <!-- My confidence for physical activity -->
        <activity android:name="confidence_ruler.precious.comnet.aalto.confidence_ruler_activity"
            android:label="@string/cr_title"
            android:theme="@style/ConfidenceRulerTheme"
            android:screenOrientation="sensorPortrait">
        </activity>
        
        <!-- Wearable -->
        <activity
            android:name="wearable.precious.comnet.aalto.OLD_API_WearableMainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="wearable.precious.comnet.aalto.ScanActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="wearable.precious.comnet.aalto.WearableMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait"
        />

        <service android:name="wearable.precious.comnet.aalto.BackgroundService">
        </service>

        <!-- Firstbeat Album View -->
        <activity android:name="firstbeatalbum.precious.comnet.aalto.FirstBeatAlbumActivity"
            android:label="@string/fa_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorPortrait">
        </activity>


        <!-- This is for Rule system + jurney view part -->
        <service android:name="precious_rule_system.scheduler.SchedulerIntentService" />

         <receiver
             android:name="precious_rule_system.scheduler.AlarmReceiver"
             android:enabled="true"
             android:exported="true">
                  <intent-filter>
                    <action android:name="precious_rule_system.scheduler.action.SCHEDULE" />
                     <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                     <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
         </receiver>

    </application>

</manifest>
