<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aalto.comnet.thepreciousproject"
    android:versionCode="107"
    android:versionName="1.07" >

    <uses-sdk
	    android:minSdkVersion="14"
	    android:targetSdkVersion="21" />
    
	
 	<!-- Pedometer app permissions -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- Activity recognition app permissions-->
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<!-- Viewer app permissions-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!-- Food intake app permissions -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA" />	
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.front" android:required="false" />
	<!-- Location service app permissions -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<!-- All apps permissions-->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <!-- Pedometer app -->
	        <activity
	            android:name="aalto.comnet.thepreciouspedometer.MainActivity"
	            android:label="Pedometer" >
	        </activity>
	        <activity 
			     android:name="aalto.comnet.thepreciouspedometer.ResetStepCounter"
			     android:theme="@android:style/Theme.Dialog" >
			</activity>
	        <service android:name="aalto.comnet.thepreciouspedometer.PedometerBackgroundService"></service>
       		<receiver android:name="aalto.comnet.thepreciouspedometer.autostart">
	            <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED">
	                <category android:name="android.intent.category.HOME">
	            </category></action></intent-filter>
        	</receiver>
       <!-- Acvitiy recognition app -->
	       <activity
	            android:name="aalto.comnet.thepreciousrecognition.MainActivity"
	            android:label="Activity Recognition"
	            android:theme="@android:style/Theme.Dialog" >
	        </activity>        
	        <service android:name="aalto.comnet.thepreciousrecognition.ActivityRecognitionIntentService"></service>
	        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        	<receiver android:name="aalto.comnet.thepreciousrecognition.autostart">
	            <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED">
	                <category android:name="android.intent.category.HOME">
	            </category></action></intent-filter>
        	</receiver>
        	<service android:name="aalto.comnet.thepreciousrecognition.GoodmorningService"></service>
       <!-- Viewer app -->
	       <activity
	            android:name="aalto.comnet.thepreciousviewer.MainActivity"
	            android:label="PRECIOUS" android:screenOrientation="portrait">
	            <intent-filter>
	                <action android:name="android.intent.action.MAIN" />	
	                <category android:name="android.intent.category.LAUNCHER" />
	            </intent-filter>
	        </activity>
	        <activity 
			     android:name="aalto.comnet.thepreciousviewer.Timeline"
			   	 android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="portrait"> 
			</activity>
			<activity android:name="aalto.comnet.thepreciousviewer.Preferencias" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="portrait"></activity>
			<activity android:name="aalto.comnet.thepreciousviewer.About" android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait"/>
			<service android:name="aalto.comnet.thepreciousviewer.SendLog"></service>
	        <receiver android:name="aalto.comnet.thepreciousviewer.autostart">
	            <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED">
	                <category android:name="android.intent.category.HOME">
	            </category></action></intent-filter>
	        </receiver>
	        <activity 
			     android:name="aalto.comnet.thepreciousviewer.AlcoholConfig"
			   	 android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait">
	            <intent-filter>  
	                <action android:name="aalto.comnet.thepreciousviewer.AlcConfigAction"/>  
	                <category android:name="android.intent.category.DEFAULT" />  
            	</intent-filter>  
			</activity>
			<activity 
			     android:name="aalto.comnet.thepreciousviewer.PhysActConfig"
			   	 android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait">
	            <intent-filter>  
	                <action android:name="aalto.comnet.thepreciousviewer.PhysActConfigAction"/>  
	                <category android:name="android.intent.category.DEFAULT" />  
            	</intent-filter>  
			</activity>
	  <!-- Food intake app -->
	        <activity
            	android:name="aalto.comnet.thepreciousfoodintake.MainActivity"
            	android:label="@string/app_name" android:screenOrientation="portrait">
	        </activity>
	        <activity
            	android:name="aalto.comnet.thepreciousfoodintake.BarcodeScanner"
            	android:label="@string/app_name" android:screenOrientation="portrait">
	        </activity>
	        <activity
            	android:name="aalto.comnet.thepreciousfoodintake.ManualInput"
            	android:label="@string/app_name" android:screenOrientation="portrait">
	        </activity>
	        <activity
            	android:name="aalto.comnet.thepreciousfoodintake.CameraFoodRecognition"
            	android:label="@string/app_name" android:screenOrientation="portrait">
	        </activity>
	 <!--  Game3 app -->
	         <activity
	            android:name="aalto.comnet.thepreciousgame3.MainActivity"
	            android:label="@string/app_name" android:screenOrientation="portrait">
       	 	</activity>
	        <activity
	            android:name="aalto.comnet.thepreciousgame3.Game" 
	            android:label="Game" 
	            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="landscape"
	            android:hardwareAccelerated="false">
	        </activity>
         	<activity
	            android:name="aalto.comnet.thepreciousgame3.gameScore" 
	            android:label="gameScore" 
	            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="landscape"
	            android:hardwareAccelerated="false">
       		</activity>
     <!--  Game1 app -->
             <activity
	            android:name="aalto.comnet.thepreciousgame1.MainActivity"
	            android:label="@string/app_name" >
        	 </activity>
        	 <activity
	            android:name="aalto.comnet.thepreciousgame1.Game" 
	            android:label="Game" 
	            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="portrait"
	            android:hardwareAccelerated="false">
        	 </activity>
     <!--  Location service app -->
    		<service android:name="aalto.comnet.thepreciouslocationservice.LocationService"></service>
     		<receiver android:name="aalto.comnet.thepreciouslocationservice.autostart">
	            <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED">
	                <category android:name="android.intent.category.HOME">
	            </category></action></intent-filter>
        	</receiver>
     <!-- Face detection app -->
	        <activity
            	android:name="aalto.comnet.thepreciousfacerecognition.MainActivity"
            	android:label="@string/app_name" android:screenOrientation="portrait">
	        </activity>
     <!-- Javascript app -->
     <activity
        	android:name="aalto.comnet.thepreciousjavascript.JavascriptTest"
        	android:label="@string/app_name" android:screenOrientation="portrait">
     </activity>
    </application>
</manifest>
